@using OpinionMVC.Models;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "GetProducts";
}

<h1>Znalezione Produkty</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="@item.PhotoUrl"></img>
            </td>
            <td>
                <a asp-controller="Review" asp-action="GetReviews" asp-route-url="@item.Url">@item.ProductName</a>
                
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
        </tr>
            
        <tr>
            <td>
                    @Html.ActionLink("Opinie", "GetReviews", "Review", new { url=item.Url })
            </td>
        </tr>
}
    </tbody>
</table>
